*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.parent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  font-family: "Outfit", sans-serif;
}

.container {
  width: 90%;
  margin: auto;
  padding: 50px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.bold {
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 64px;
  height: 10vh;
  z-index: 10;
  color: #fff;
  position: fixed;
  transition: all 0.5s;
}

.scrolled {
  color: #000000 !important;

}

.scrolled .toggle-menu {
  color: #000000 !important;
}

.header-logo {
  font-size: 30px;
}

.header .toggle-menu {
  font-size: 30px;
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
}

.btn-scroll_down {
  width: 35px;
  height: 35px;
  background-color: #000000;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  padding: 4px;
  font-size: 16px;
  left: 50%;
  opacity: 0.5;
  bottom: 30px;
  transform: translateX(-50%);
  z-index: 15;
  transition: all 0.5s;
}

.btn-scroll_down:hover {
  transition: all 0.5s;
  opacity: 1;
}

.welcome-page {
  min-height: 100vh;
  max-height: 100vh;
  cursor: default;
  overflow: hidden;
  position: relative;
  background-color: #000000;
}

.welcome-content {
  position: absolute;
  width: 750px;
  left: 35%;
  top: 65%;
  z-index: 10;
  transform: translateX(-35%) translateY(-65%);
}

.welcome-content h1 {
  font-size: 76px;
  color: #fff;
}

.welcome-content h2 {
  font-size: 36px;
  color: #fff;
}

.welcome-content h1,
.welcome-content h2,
.welcome-content p {
  padding: 0;
  margin: 0;
  font-weight: 250;
  text-align: left;
}

.welcome-content p {
  margin-top: 50px;
  color: darkgray;
}

.welcome-btn_container {
  margin-top: 50px;
}

.welcome-btn_container button {
  padding: 16px;
  border-radius: 25px;
  width: 200px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 11px;
  color: #fff;
  transition: all 0.5s;
}

.welcome-btn_container button svg {
  transition: all 0.5s;
}

.welcome-btn_container button:hover {
  padding-right: 5px;
  transition: all 0.5s;
}

.btn-experience {
  background: blueviolet;
  border: 1px solid blueviolet;
}

.btn-experience svg {
  margin-left: 10px;
}




.about-me {
  padding: 25px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me .flex {
  justify-content: center;
  align-items: center;
}

.about-me_item {
  width: 550px;
  margin: 0 50px;
}

.about-me_item h1 {
  font-size: 48px;
  margin-bottom: 50px;
  font-weight: 250;
}


.about-me_item p {
  margin-bottom: 25px;
  font-size: 16px;
  color: rgb(114, 114, 114);
}

.btn-download_cv {
  padding: 16px;
  border-radius: 25px;
  width: 200px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 11px;
  border: 1px solid rgb(114, 114, 114);
  color: rgb(114, 114, 114);
  margin-top: 25px;
  display: inline-block;
  text-align: center;
  transition: all 0.5s;
  text-decoration: none;
}

.btn-download_cv svg {
  margin-left: 10px;
}

.btn-download_cv:hover {
  padding-right: 5px;
}



.projects {
  height: 100vh;
  background-color: #000000;
}





.experience {
  background-color: #000000;
  color: darkgray;
  height: 100%;
}

.experience .flex {
  flex-direction: column;
}

.experience-item {
  display: flex;
  margin: 25px;
}

.experience-item_time h1,
.experience-item_description h1 {
  font-weight: normal;
}

.experience-item_time {
  margin-right: 25px;
  width: 150px;
}

.experience-item_time h1 {
  font-size: 16px;
}

.experience-item_description h1 {
  color: #fff;
  letter-spacing: 1.5px;
  font-size: 18px;
  text-transform: uppercase;
}

.experience-ul_details {
  margin: 10px 0;
  list-style-position: inside;
}

.experience-ul_details li {
  padding: 10px 0;
}

.experience-ul_skills {
  list-style: none;
  display: flex;
  margin-top: 25px;
}

.experience-ul_skills li {
  border-radius: 25px;
  width: max-content;
  padding: 0 15px;
  border: 1px solid darkgray;
  margin-right: 15px;
}





.footer {
  background-color: #fff;
  padding: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer ul {
  display: flex;
  list-style: none;
}

.footer ul li {
  margin: 0 10px;
  color: rgb(114, 114, 114);
}

.footer ul li a {
  color: rgb(114, 114, 114);
  text-decoration: none;
}

.footer ul li svg {
  color: #000000;
}

.footer ul li a svg {
  color: #0077B5;
}











@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
  }

  to {
    transform: rotateX(360deg) rotateY(0deg) rotateZ(-360deg);
  }
}

.pentagon:nth-child(1) div {
  background-image: repeating-radial-gradient(circle at bottom, #000 1, #fff 1 4px);
}

.pentagon:nth-child(2) div {
  background-image: repeating-radial-gradient(circle at bottom, #000 1, #fff 1 4px);
}

.pentagon:nth-child(3) div {
  background-image: repeating-radial-gradient(circle at bottom, #000 1, #fff 1 4px);
}

.pentagon:nth-child(4) div {
  background-image: repeating-radial-gradient(circle at bottom, #000 1, #fff 1 4px);
}

.pentagon:nth-child(5) div {
  background-image: repeating-radial-gradient(circle at bottom, #000 1, #fff 1 4px);
}

.pentagon:nth-child(6) div {
  background-image: repeating-radial-gradient(circle at bottom, #000 1, #fff 1 4px);
}

.pentagon:nth-child(7) div {
  background-image: repeating-radial-gradient(circle at bottom, #000 1, #fff 1 4px);
}

.pentagon:nth-child(8) div {
  background-image: repeating-radial-gradient(circle at bottom, #000 1, #fff 1 4px);
}

.pentagon:nth-child(9) div {
  background-image: repeating-radial-gradient(circle at bottom, #000 1, #fff 1 4px);
}

.pentagon:nth-child(10) div {
  background-image: repeating-radial-gradient(circle at bottom, #000 1, #fff 1 4px);
}

.pentagon:nth-child(11) div {
  background-image: repeating-radial-gradient(circle at bottom, #000 1, #fff 1 4px);
}

.pentagon:nth-child(12) div {
  background-image: repeating-radial-gradient(circle at bottom, #000 1, #fff 1 4px);
}

.pentagon div:nth-child(1) {
  transform: rotate(0.2turn);
}

.pentagon div:nth-child(2) {
  transform: rotate(0.4turn);
}

.pentagon div:nth-child(3) {
  transform: rotate(0.6turn);
}

.pentagon div:nth-child(4) {
  transform: rotate(0.8turn);
}

.pentagon div:nth-child(5) {
  transform: rotate(1turn);
}














@media only screen and (max-width: 480px) {
  .parent {
    width: 100%;
    overflow: hidden;
  }

  .header{
    justify-content: flex-end;
  }

  .container {
    padding: 0;
  }

  body {
    width: 100%;
  }

  .header {
    padding: 25px;
    width: 100%;
    overflow: hidden;
  }

  .welcome-page {
    width: 100%;
    overflow: hidden;
  }

  .welcome-content {
    width: 80%;
  }

  .xs-none {
    display: none !important;
  }

  .about-me .flex {
    flex-wrap: wrap;
  }

  .about-me_item {
    width: 100%;
    margin: 0;
  }

  .about-me_item img {
    width: 100%;
  }

  .experience {
    margin-top: 200px;
  }

  .experience .flex {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .experience-item_time {
    max-width: 150px;
  }

  .experience-item_description {
    width: 100%;
  }

  .experience-item {
    margin: 15px;
    display: block;
  }

  .experience-item_time h1 {
    font-size: 14px;
  }

  .experience-item_description h1 {
    color: #fff;
    letter-spacing: 1.5px;
    font-size: 16px;
    text-transform: uppercase;
  }

  .experience-ul_skills {
    flex-wrap: wrap;
  }

  .experience-ul_skills li {
    margin: 10px;
    width: 250px;
    text-align: center;
  }

  .footer ul{
    flex-wrap: wrap;
    text-align: center;
  }


  .footer ul li{
    width: 100%;
    padding:15px;
  }
}